@import 'styles/utils.scss';

.memo-nav {
    width: 60px;
    background: $oc-gray-1;
    border-right: 1px solid $oc-gray-3;
    padding: 0;

    .upper-nav {
        list-style: none;
        margin: 0;
        margin-bottom: 3rem;
        padding: 0;
        li {
            display: block;
            border: 1px solid $oc-gray-4;
            margin-left: auto;
            margin-right: auto;
            margin: 1rem auto 1rem auto;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background: $oc-gray-0;
            text-align: center;
            line-height: 37px;
            color: $oc-indigo-6;
            cursor: pointer;

            &:hover {
                background: $oc-indigo-6;
                color: white;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
        }
    }


    .lower-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin: 1rem auto 1rem auto;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background: $oc-gray-0;
            text-align: center;
            line-height: 37px;
            color: $oc-indigo-6;
            background: transparent;
            cursor: pointer;

            &:hover {
                background: $oc-indigo-6;
                color: white;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
        }
    }

    .account {
        position: fixed;
        bottom: 0;
        height: 50px;
        border: 1px solid black;
    }
}